.alterList {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.alterList ul {
  list-style: none;
  padding: 0;
  width: 90%;
  overflow-y: auto;
}

.alterList ul div li {
  display: flex;
  align-items: center;
  margin: 3px;
}

.alterList ul div li {
  display: flex;
  align-items: center;
  margin: 3px;
  gap: 5%;
}

.alterList ul div {
  background-color: #333333;
  padding: 2px;
  margin: 3px;
}

.alterList ul div li img {
  height: 150px;
  width: 100px;
  box-shadow:  3px 3px 10px black;
}

.alterList ul div li input {
  font-size: 18px;
  width: 105px;
}

.alterList ul div li button {
  margin-right: 15px;
}