.changePassword-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}

.changePassword-box h1 {
  margin-bottom: 5px;
}

.changePassword-box label input{
  margin-bottom: 5px;
  font-size: 20px;
}

.title-changePassword-box{
  margin-bottom: 0px;
  margin-top: 10px;
}

.password-input-container {
  position: relative;
}

.eye-icon {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-58%);
  width: 25px;
  height: auto;
  cursor: pointer;
}
