.filters {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    font-size: 20px;
    font-weight: 500;
}

.plegable {
    border-radius: 7px;
}

.filters > div {
    width: 200px; /* Establece un ancho fijo para cada filtro */
    display: flex;
    gap: 1rem;
}

select{
    padding: 3px;
    font-size: 14px;

}