.filters {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16rem;
    font-size: 20px;
    font-weight: 500;
}

@media (max-width: 670px) {
    .filters {
        gap: 6rem; /* Cambia el valor de gap para pantallas más pequeñas */
    }
}

.plegable {
    border-radius: 7px;
}

.filters > div {
    width: 200px; /* Establece un ancho fijo para cada filtro */
    display: flex;
    gap: 1rem;
}

select{
    padding: 3px;
    font-size: 14px;

}