.footer {
    position: fixed;
    left: 5px;
    bottom: 5px;
    text-align: middle;
    background: rgba(0, 0, 0, .7);
    padding: 8px 24px;
    border-radius: 32px;
    opacity: .85;
    backdrop-filter: blur(8px);
}

.footer h4, .footer h5{
    margin: 0;
}