.register-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}

.register-box h1 {
  margin-bottom: 5px;
}

.register-box label input{
  margin-bottom: 5px;
  font-size: 20px;
}

.title-register-box{
  margin-bottom: 0px;
  margin-top: 10px;
}


