.summary{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.summaryList {
  list-style: none;
  padding: 0;
}


.summaryList ul {
  list-style: none;
  padding: 0;
  width: 600px;
  max-height: 700px;
  overflow-y: auto;
}

.summaryList ul div li{
  display: flex;
  align-items: center;
  margin: 3px;
}

.summaryList ul div {
  background-color: #333333;
  padding: 2px;
  margin: 3px;
}

.summaryList ul div li img {
  height: 150px; /* Ajusta el tamaño de la imagen según tus necesidades */
}

.total{
  background-color: #1a1a1a;
  padding: 10px;
}

span {
  flex: 1;
  font-size: 20px;
}

.summaryData{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.summaryData label {
    margin: 5px;
    font-size: 20px;
  }

.summaryData input{
  width: 300px;
  font-size: 20px;
  }

.sendOrderButton{
  transition: all .3s ease;
  border: black;
}

.sendOrderButton:hover{
  scale: 1.1;
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.5);
}

@media (max-width: 1300px) {
  .summaryList ul {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .summary{
    flex-direction: column;
  }
}