.deleteList {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.deleteList ul {
  list-style: none;
  padding: 0;
  width: 90%;
  overflow-y: auto;
}

.deleteList ul div li {
  display: flex;
  align-items: center;
  margin: 3px;
}

.deleteList ul div {
  background-color: #333333;
  padding: 2px;
  margin: 3px;
}

.deleteList ul div li img {
  height: 150px;
  width: 100px;
  box-shadow:  3px 3px 10px black;
}

span {
  flex: 1;
  font-size: 20px;
}

.deleteButton{
  transition: all .3s ease;
  border: black;
  margin-right: 15px;
}

.deleteButton:hover{
  scale: 1.1;
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.5);
}